{% extends "layout.html" %}
{% block document %}
<div class="row">
  <div class="col-sm" >
    <p id="title">
    {{data['Document Title']}}
    </p>
    <p id="abstract">
    {{data['Abstract']}}
    </p>
    <p>
    <a href="{{data['PDF Link']}}">PDF</a>
    </p>
  </div>
  <div class="col-sm">
    <strong>Research Questions</strong>
    <ul>
      <li>
        What are the existing software effort estimation techniques? Is
        it possible to categorize?
      </li>
      <li>
        According to the literature, what are the most popular
        approaches to software estimation? Has popularity changed over
        time? Can we draw a trend across time?
      </li>
      <li>
        How have software developers used effort estimation?
      </li>
      <li>
        Do available studies provide quantitative outcomes with respect
        to effectiveness and accuracy of effort estimation techniques?
      </li>
      <li>
        Do empirical studies report engineers’ perception and rationale
        about effort estimation techniques?
      </li>
    </ul>
    <strong>Inclusion/Exclusion Criteria</strong>
    <ul>
      <li>Consider only primary studies; exclude secondary sources (ie. surveys)</li>
      <li>Include both practical and theoretical (opinion) results</li>
      <li>Exclude papers not on the topic of software effort estimation</li>
    </ul>
  </div>
</div>
{% endblock %}
