<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Merriweather" rel="stylesheet">

    <title>
      Paper Reviewer
    </title>

    <style>
      #title {
        font-weight: bold;
        font-family: 'Lato', sans-serif;
      }

      #abstract {
        font-family: 'Merriweather', serif;
      }

      body {
        margin-top: 1em;
      }
    </style>

    <script type="text/javascript">
      document.addEventListener('keypress', (event) => {
        if (event.key == 'i') {
          document.getElementById('include').click()
        }
        if (event.key == 'e') {
          document.getElementById('exclude').click()
        }
        if (event.key == 'd') {
          document.getElementById('discuss').click()
        }
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm" >
          <p id="title">
          {{data['Document Title']}}
          </p>
          <p id="abstract">
          {{data['Abstract']}}
          </p>
        </div>
        <div class="col-sm">
          <strong>Research Questions</strong>
          <ul>
            <li>
              What are the existing software effort estimation techniques? Is
              it possible to categorize?
            </li>
            <li>
              According to the literature, what are the most popular
              approaches to software estimation? Has popularity changed over
              time? Can we draw a trend across time?
            </li>
            <li>
              How have software developers used effort estimation?
            </li>
            <li>
              Do available studies provide quantitative outcomes with respect
              to effectiveness and accuracy of effort estimation techniques?
            </li>
            <li>
              Do empirical studies report engineers’ perception and rationale
              about effort estimation techniques?
            </li>
          </ul>
          <strong>Inclusion/Exclusion Criteria</strong>
          <ul>
            <li>Consider only primary studies; exclude secondary sources (ie. surveys)</li>
            <li>Include both practical and theoretical (opinion) results</li>
            <li>Exclude papers not on the topic of software effort estimation</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <form method="post">
          <input type="hidden" name="paper_id" value="{{paper_id}}">
          <button class="btn btn-outline-success" title="Shortcut key: i" id="include" formaction="/include">Include</button>
          <button class="btn btn-outline-danger" title="Shortcut key: e" id="exclude" formaction="/exclude">Exclude</button>
          <button class="btn btn-outline-info" title="Shortcut key: d" id="discuss" formaction="/discuss">Discuss</button>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  </body>
</html>

