<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Merriweather" rel="stylesheet">

    <title>
      Paper Reviewer
    </title>

    <link rel="stylesheet" href="/static/style.css">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>{{title}}</h2>
          <p>
          <a href="{{url}}">PDF</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <form method="post" action="/set_values">
            <input type="hidden" name="rowid" value="{{rowid}}">
            <div class="row form-group">
              <label class="col-form-label col-3">Paper Type</label>
              <select class="custom-select col" name="paper_type">
                {% for type in paper_types %}
                <option value="{{type}}">{{type}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="row form-group">
              <label class="col-form-label col-3">Res Type</label>
              <select class="custom-select col" name="res_type">
                {% for type in res_types %}
                <option value="{{type}}">{{type}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="row form-group">
              <label class="col-form-label col-3">Tool</label>
              <select class="custom-select col" name="tool">
                {% for tool in tools %}
                <option value="{{tool}}">{{tool}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="row form-group">
              <label class="col-form-label col-3">Model</label>
              <select class="custom-select col" name="model">
                {% for model in models %}
                <option value="{{model}}">{{model}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="row form-group">
              <label class="col-form-label col-3">Measurement</label>
              <select class="custom-select col" name="measurement">
                {% for measurement in measurements %}
                <option value="{{measurement}}">{{measurement}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="row form-group">
              <label class="col-form-label col-3" for="notes">Notes</label>
              <input class="col" type="input" id="notes" name="notes">
            </div>
            <!--
            <div class="row form-group">
              <label class="col-form-label col-3" for="res_type">Res Type</label>
              <input class="col" type="input" id="res_type" name="res_type">
            </div>
            <div class="row form-group">
              <label class="col-form-label col-3" for="tool">Tool</label>
              <input class="col" type="input" id="tool" name="tool">
            </div>
            <div class="row form-group">
              <label class="col-form-label col-3" for="model">Model</label>
              <input class="col" type="input" id="model" name="model">
            </div>
            <div class="row form-group">
              <label class="col-form-label col-3" for="measurement">Measurement</label>
              <input class="col" type="input" id="measurement" name="measurement">
            </div>
            -->
            <button class="btn btn-info" type="submit" formaction="/set_values">Submit</button>
          </form>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

      <script src="/static/paper.js"></script>
  </body>
</html>
